.font_1 {font: normal normal normal 16px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#DBD9D7;}
.font_2 {font: normal normal normal 30px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#FFFFFF;}
.font_3 {font: normal normal normal 60px/1.4em lulo-clean-w01-one-bold,sans-serif ;color:#FFFFFF;}
.font_4 {font: normal normal normal 40px/1.4em proxima-n-w01-reg,sans-serif ;color:#FFFFFF;}
.font_5 {font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#FFFFFF;}
.font_6 {font: normal normal normal 22px/1.4em didot-w01-italic,serif ;color:#87837E;}
.font_7 {font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544,sans-serif ;color:#FFFFFF;}
.font_8 {font: normal normal normal 16px/1.4em didot-w01-italic,serif ;color:#FFFFFF;}
.font_9 {font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496,sans-serif ;color:#FFFFFF;}
.font_10 {font: normal normal normal 12px/1.4em din-next-w01-light,din-next-w02-light,din-next-w10-light,sans-serif ;color:#DBD9D7;}


.backcolor_0 {background-color: #FFFFFF;}
.color_1 {color: #000000;}
.backcolor_1 {background-color: #000000;}
.color_2 {color: #FFFFFF;}
.backcolor_2 {background-color: #FFFFFF;}
.color_3 {color: #ED1C24;}
.backcolor_3 {background-color: #ED1C24;}
.color_4 {color: #0088CB;}
.backcolor_4 {background-color: #0088CB;}
.color_5 {color: #FFCB05;}
.backcolor_5 {background-color: #FFCB05;}
.color_6 {color: #727272;}
.backcolor_6 {background-color: #727272;}
.color_7 {color: #B0B0B0;}
.backcolor_7 {background-color: #B0B0B0;}
.color_8 {color: #FFFFFF;}
.backcolor_8 {background-color: #FFFFFF;}
.color_9 {color: #727272;}
.backcolor_9 {background-color: #727272;}
.color_10 {color: #B0B0B0;}
.backcolor_10 {background-color: #B0B0B0;}
.color_11 {color: #000000;}
.backcolor_11 {background-color: #000000;}
.color_12 {color: #4A4846;}
.backcolor_12 {background-color: #4A4846;}
.color_13 {color: #87837E;}
.backcolor_13 {background-color: #87837E;}
.color_14 {color: #DBD9D7;}
.backcolor_14 {background-color: #DBD9D7;}
.color_15 {color: #FFFFFF;}
.backcolor_15 {background-color: #FFFFFF;}
.color_16 {color: #322B1E;}
.backcolor_16 {background-color: #322B1E;}
.color_17 {color: #64563D;}
.backcolor_17 {background-color: #64563D;}
.color_18 {color: #95815B;}
.backcolor_18 {background-color: #95815B;}
.color_19 {color: #B39F79;}
.backcolor_19 {background-color: #B39F79;}
.color_20 {color: #E3D4B7;}
.backcolor_20 {background-color: #E3D4B7;}
.color_21 {color: #3C1F19;}
.backcolor_21 {background-color: #3C1F19;}
.color_22 {color: #793F33;}
.backcolor_22 {background-color: #793F33;}
.color_23 {color: #B55E4C;}
.backcolor_23 {background-color: #B55E4C;}
.color_24 {color: #CE9C92;}
.backcolor_24 {background-color: #CE9C92;}
.color_25 {color: #E6C1BA;}
.backcolor_25 {background-color: #E6C1BA;}
.color_26 {color: #1F2A3F;}
.backcolor_26 {background-color: #1F2A3F;}
.color_27 {color: #3D547E;}
.backcolor_27 {background-color: #3D547E;}
.color_28 {color: #5C7EBD;}
.backcolor_28 {background-color: #5C7EBD;}
.color_29 {color: #9DB0D3;}
.backcolor_29 {background-color: #9DB0D3;}
.color_30 {color: #C1CFE9;}
.backcolor_30 {background-color: #C1CFE9;}
.color_31 {color: #25311B;}
.backcolor_31 {background-color: #25311B;}
.color_32 {color: #4A6336;}
.backcolor_32 {background-color: #4A6336;}
.color_33 {color: #6F9451;}
.backcolor_33 {background-color: #6F9451;}
.color_34 {color: #A1B88E;}
.backcolor_34 {background-color: #A1B88E;}
.color_35 {color: #C9DBBA;}
.backcolor_35 {background-color: #C9DBBA;}
