#SITE_HEADERinlineContent {
  height: auto;
  width: 100%;
  position: relative;
}

#SITE_HEADERinlineContent-gridContainer {
  position: static;
  height: auto;
  width: 100%;
  min-height: 88px;
}

#SITE_HEADERcenteredContent {
  position: relative;
}

#SITE_HEADERinlineContent-gridWrapper {
  pointer-events: none;
}

#SITE_HEADERinlineContent-gridContainer>* {
  pointer-events: auto;
}

#SITE_HEADERinlineContent-gridContainer>[id$="-rotated-wrapper"] {
  pointer-events: none;
}

#SITE_HEADERinlineContent-gridContainer>[id$="-rotated-wrapper"]>* {
  pointer-events: auto;
}
