.font_0 {
  font: normal normal normal 40px/1.4em proxima-n-w01-reg, sans-serif;
  color: #FFFFFF;
}

.font_1 {
  font: normal normal normal 16px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  color: #DBD9D7;
}

.font_2 {
  font: normal normal normal 30px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
  color: #FFFFFF;
}

.font_3 {
  font: normal normal normal 60px/1.4em lulo-clean-w01-one-bold, sans-serif;
  color: #FFFFFF;
}

.font_4 {
  font: normal normal normal 40px/1.4em proxima-n-w01-reg, sans-serif;
  color: #FFFFFF;
}

.font_5 {
  font: normal normal normal 30px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #FFFFFF;
}

.font_6 {
  font: normal normal normal 22px/1.4em didot-w01-italic, serif;
  color: #87837E;
}

.font_7 {
  font: normal normal normal 20px/1.4em avenir-lt-w01_85-heavy1475544, sans-serif;
  color: #FFFFFF;
}

.font_8 {
  font: normal normal normal 16px/1.4em didot-w01-italic, serif;
  color: #FFFFFF;
}

.font_9 {
  font: normal normal normal 14px/1.4em avenir-lt-w01_35-light1475496, sans-serif;
  color: #FFFFFF;
}

.font_10 {
  font: normal normal normal 12px/1.4em din-next-w01-light, din-next-w02-light, din-next-w10-light, sans-serif;
  color: #DBD9D7;
}
